.active {
    background-color: #000;
  }
  
.inactive {
    background-color: #fff  ; 
}

.transition {
    transition:background-color 1.3s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition duration and easing */
}