

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  max-height: 50px;
  z-index: 2;
}

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-it-works .col-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.how-it-works .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid orange;
  z-index: 1;
}

.how-it-works .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works .col-2.top::after {
  height: 100%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid orange;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid orange;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -52%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -52%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }

  
  .timeline .top-bottom {
    top: -50%;
    left: 50%;
  }
  