/* 
    1. SCSS variables
    2. Common Styles
    3. Global Styles
    4. Typograhy Styles
    5. Layout Styles
    6. First Page Styles
*/

//  1. SCSS variables

$primary-color: #ead9f2;
$secondary-color: #ffffff;

// 2. Common Styles

// 3. Global Styles

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

// 5. Layout Styles

.first-block {
  background-color: $primary-color;
  height: 100vh;
  padding: 15px;

  .first-inline-block {
    background-color: $secondary-color;
    height: 97.6vh;
  }

  .second-inline-block {
    background-color: $primary-color;
    height: 58vh;
    margin-top: 120px;
  }
}
// 6. First Page Styles
#logo {
  width: 100px;
}

.tagline {
  margin-top: 120px;
}

.banner-image-block {
  height: 58vh;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}
.bulb-image,
.big-bulb,
.boy-on-bulb,
.three-wheels,
.boy-right,
.girl-left,
.arrows,
.cls-17,
.cls-19,
.cls-2 {
  opacity: 0;
}

.animated-image {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 767px) {
  .animated-image {
    position: relative;
  }

  .banner-image-block {
    height: auto;
  }
}
