<div id="aboutus-inner-container" class="container-fluid">
  <div class="row m-0">
    <div class="col-lg-12 text-center mt-2 mb-2">
      <h2>Artists</h2>
    </div>
  </div>
  <!-- Grid row -->
  <div class="row m-0">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body mb-0">
              <span class="text-black">
                Monali Dalvi Joshi is an intrinsic & versitile music artist.
                Monali started her musical career at an early age following
                footsteps of her father & sister. She completed her formal
                education with a bachelors degree in Chemistry and MPA vocal
                (Master of Performing arts) from M.S university baroda. Monali
                won "Radio city super singer season 2" & "Big FM Golden Voice
                season 6" and was awarded and endrosed by Sonu Nigam. Monali is
                widely recognised as an energitic live performer who spans her
                genre in folk , sufi, classical, semi classical and fusion.
                Besides being a performer she has extraordinary skill of music
                composition and writting lyrics.
              </span>

              <!-- <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                allowfullscreen></iframe>
            </div> -->
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="social-account-text">Connect with me :</span>
                </div>
                <div class="col-md-12 col-lg-4 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/monali.dalvi.31"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/monalidalvi?igshid=13nk8k0ahm5fj"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/monali-dalvi.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal1"
      /></a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal6"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body mb-0">
              <span class="text-black">
                From the roots of Palanpur - Gujarat, Jigar Joshi is a most
                popular singer across the region. Jigar is a MPA vocal gold
                medalist (Master of performing Arts) from M.S university baroda.
                Jigar appeared as a contestant in "Mati ke laal" by Doordarshan
                & "Big FM Golden Voice season 3" by BIG FM 92.7. Jigar has even
                represented Indian music (classical & garba) at countries like
                UK, Czech Republic and Dubai. He is the one who spans on variety
                of genres like folk, classical , semi classical , sufi and light
                music.
              </span>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="social-account-text">Connect with me :</span>
                </div>
                <div class="col-md-12 col-lg-4 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/profile.php?id=100036426661907"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>

                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/jigarjoshi087?igshid=1kc6menqe5ikk"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e  mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/jigar-joshi.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal6"
      /></a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6  col-sm-12 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal4"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body mb-0">
              <span class="text-black">
                With an aspiration of pursuing career in music Richa Barot
                started her musical journey at an age of 19. Richa completed her
                BPA & MPA (Bachelors and Masters of Performing Arts) from M.S
                University. Richa was amongst leading participants in various
                musical events at state and national level viz "Swarkalash-2015"
                , "Radio Mirchi Tansen, Vadodara" & "Baroda's Got Talent". She
                even recorded a playback song for a Gujarati movie. In her early
                career Richa emerged as a talented performer singer and is
                widely recognised in musical community in the region. Her key
                performing areas are in Classical, Semi-classical and light
                music genres.
              </span>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="mt-0 social-account-text"
                    >Connect with me :</span
                  >
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/barot.richa.18"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/richa_barot?igshid=12eeor77v9ucj"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>

                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/richa-barot.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal4"
      /></a>
    </div>
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6  col-sm-6 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <div class="modal-body mb-0">
              <!--Body-->
              <span class="text-black">
                Stuti Vora is a dynamic professional vocalist who spans on
                multiple genres like classical, folk , western and so on. Stuti
                inherited the art of music from her mother. After her formal
                education in commercial field she completed Visharad in music
                and then Masters is performing arts. She won multiple
                competitions at state level. Professionaly Stuti recorded rhymes
                for schools and recorded devotional songs for Soham channel.
                Currently she is a renowned artist in the region.
              </span>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="social-account-text mt-0"
                    >Connect with me :</span
                  >
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/stuti.vora.3"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/stuti.vora02?igshid=1ibm02xk3vkwq"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/stuti-vora.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal2"
      /></a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal5"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body mb-0">
              <span class="text-black">
                Dinesh Tharu is a sufi and folk singer with core knowledge of
                classical and semi-classical. Dinesh completed Bachelors and
                Masters in Performing Arts. In very short time of career he got
                recognition in the region. He even won several state level vocal
                competitions.
              </span>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="social-account-text mt-0"
                    >Connect with me :</span
                  >
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/dineshtharu0303"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/dinesh_tharu_0303?igshid=sr7sp6un0uk0"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e  mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/dinesh-tharu.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal5"
      /></a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
      <!--Modal: Name-->
      <div
        class="modal fade"
        id="modal3"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Body-->
            <div class="modal-body mb-0">
              <span class="text-black">
                Sonali Shinde is a popular singer, performer and a dynamic host.
                She started her musical career at the tender age of 5. She
                received formal training of music from her father and then from
                Dr. Janki Mitahiwala. Sonali has performed at various events
                accross the country and her natural genre is light music, folk
                and garba. Besides being a commerce graduate and a musical
                performer sonali has dynamic hosting skills and has hosted
                number of corporate and social events.
              </span>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <div class="row">
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <span class="social-account-text mt-0"
                    >Connect with me :</span
                  >
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <a
                    class="btn-floating btn-sm btn-fb mt-0"
                    href="https://www.facebook.com/sonali.dalvi.5"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!--Twitter-->
                  <a class="btn-floating btn-sm btn-youtube mt-0"
                    ><i class="fab fa-youtube"></i
                  ></a>
                  <!--Google +-->
                  <a
                    class="btn-floating btn-sm btn-instagram mt-0"
                    href="https://instagram.com/sonalishindeofficial?igshid=18thlo0t0io8p"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
                <div class="col-md-12 col-lg-4 mb-2 text-center-mobile">
                  <button class="btn btn-1 btn-1e mt-0" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Name-->

      <a class="ptr"
        ><img
          class="img-fluid z-depth-1"
          src="../../../assets/images/sonali-dalvi.jpg"
          alt="video"
          data-toggle="modal"
          data-target="#modal3"
      /></a>
    </div>
    <!-- Grid column -->
  </div>
</div>
