.tabs-wrapper{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.tab-heading{
    background-color: #f2f2f2;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}


.selected-tab{
    background-color: green;
    color: #fff;
}
.hidden{
    display: none;
}

.tabdata{
    width: 33%;
    word-break: break-all;
}