@import "~assets/styles/base.scss";

.vhclass {
  height: 100vh;
  background-color: black;
  color: #ffffff;
}

// #aboutus-container{
//   scroll-snap-align:start;
// }

// #contactus-container{
//   scroll-snap-align:start;
// }

#home-container {
  position: relative;
  background-color: $secondary-color;
  color: $primary-color;
  //  scroll-snap-align:start;
  .first-block {
    height: 100vh;
    position: relative;
    background-color: $secondary-color;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .second-block {
    @extend .first-block;
  }

  .first-block video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .first-block .container {
    position: relative;
    z-index: 2;
  }

  .first-block .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .harmburger-icon {
    color: $primary-color;
    position: absolute;
    left: 15px;
    top: 25px;
    font-size: 22px;
  }

  .pages {
    position: relative;
    top: 200px;
    ul {
      li {
        display: inline;
        font-size: 20px;
        margin: 25px;
        position: relative;
        top: 50px;
        cursor: pointer;
      }
    }
  }

  .social-media {
    ul {
      li {
        display: inline;
        font-size: 15px;
        margin: 15px;
        position: relative;
        top: 250px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pages {
    ul {
      li {
        display: block !important;
      }
    }
  }
}
// nav icon
/* Icon 1 */

#nav-icon1 {
  width: 40px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 20px;
  z-index: 2;
  left: 10px;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 80%;
  background: $primary-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .vhclass {
    height: auto !important;
  }
}

.custom-menu li a.link::after {
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}

a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

a {
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }
}
