<div class="container-fluid" id="footer-container">
  <a
    id="back-to-top"
    class="btn btn-lg back-to-top"
    role="button"
    title="Click to return on the top page"
    data-toggle="tooltip"
    data-placement="left"
    *ngIf="isShow"
    (click)="gotoTop()"
    ><span class="arrow-up"><i class="fas fa-arrow-up"></i></span
  ></a>

  <!-- <div class="row">
        <div class="col-md-12 text-center">
            <span>
                Made with <i class="fa fa-heart pulse"></i> by <a href="https://www.facebook.com/jagdishonweb" target="_blank">Jagdish Patil </a>
            </span>
        </div>
    </div> -->
</div>
